* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(rgb(43, 0, 107), rgb(0, 217, 255));
}

::-webkit-scrollbar {
  display: none;
}
